@font-face {/*Font Squirrel, dafont, and Everything Fonts.*/
    font-family: 'abril_fatfaceregular';
    src: url('../fonts/abrilfatface-regular-webfont.woff2') format('woff2'),
         url('../fonts/abrilfatface-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html,body{
	font-size: 10px;
	font-family:'Roboto Mono', monospace;
	margin: 0;
	padding: 0;
	background-color:#e2e4e9;
	height: 100%;
	/*overflow-x: hidden;*/
}
article:nth-of-type(odd){
	background-color: #f0f2f4;
}

hr {
	margin: 0;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    clear: both;
}

body{
	box-sizing: border-box;
	font-size: 1.5rem;
	margin: 0;
}
body section{
	display: block;
	margin: 1rem 10%;
}
a,a:visited{
	text-decoration: none;
	color: rgb(105, 73, 79);
}

/*Font*/
body{
	color: #223E4A;
	text-indent: 2rem;
	line-height: 2;
}
header{
	font-family: 'abril_fatfaceregular',monospace;
	text-align: center;
	margin: 0;
	padding: 1rem;
}

input,textarea{
	  font: 1.6rem sans-serif;
}

/*Font END*/

/*Home*/
#Home{
	color: #ffffff;
	margin: 0;
	padding: 0;
	background-image: url(../images/homeBG.jpg);
	background-attachment: fixed;
	background-size: 100% 100%;
	max-width: 100%;
	min-width: 320px;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
	min-height: 100%;
	position: relative;
}
#Home header{
	position: absolute;
	top: 30%;
	transform: translate(0,-50%);
	width: 100%;
}
#Home header, h3{
	font-family: 'abril_fatfaceregular',monospace;
	letter-spacing: .3rem;
}
#Home header{
	font-size: 3rem;
	letter-spacing: 1.1rem;
}
#Home nav{
	outline: 3px solid red;
	position: fixed;
	top: 0;
	z-index: 1;
	padding:0;
	background-color: black;
	width: 100%;
}

#Home .navbar-header span{
	margin: 0 1.5rem;}
#bs-nav{
	margin: 1rem 0;
	padding: 0;
}
#bs-nav a{
	padding: 1rem;
}

/*超链接begins*/
#Home a,#Home a:visited{
	text-indent: 0;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 2;
	/*padding: 2rem 1rem;*/
}

#Home nav li:focus,#Home nav li:hover{
	border-radius: 50% 13% 58% 9% / 34% 29% 30% 38%;
	border-bottom: 1rem solid rgba(245, 216, 214);
}
#Home nav li:active{
	background-color: rgba(168, 137, 116,0.2);
}

#Home #resume{
	position: absolute;
	left: 45%;
	top: 37%;
}

#Home #resume a{
	font-family: 'Roboto Mono', monospace;
	font-size: 1.5rem;
	letter-spacing: .2rem;
	border: 0.2rem solid rgba(168, 137, 116,0.5);
	height: 3rem;
	padding: 1rem 2rem;
	text-align: center;
}

/*超链接ends*/


/*Home END*/

/*About*/
/*#About{
	clear: both;
}*/

#About img{
	margin-top: 5rem;
	width: 80%;
	height: 80%;
	border-radius: 	164px 164px 150px 150px;
}

@media screen and (max-width: 768px) {
  #About img{
  	width: 100px;
  	height: 100px;
  	margin: 1rem 40%;
  }
}


/*#About p{
	margin: 0;
}*/
#About p:last-of-type{
	padding-bottom: 2rem;
}
/*About END*/

/*Experience*/
#Experience time{
	margin: 0 10%
}
#Experience section{
	margin: 10rem 10%;
}
.logo {
	width: 8rem;
	height: 8rem;
	border-radius: 198px 198px 198px 198px;
	margin-left: 2rem;
	vertical-align:middle;
}
/*Experience END*/

/*Project*/
#Project img{
	width: 20%;
	display: inline-block;
	border-radius: .5rem;
	margin: 5rem;
	box-shadow: .5rem .5rem 1rem #223E4A,
				-.2rem -.2rem .5rem #393F63;
	float: left;
}
#Project section{
	border-radius: 2rem 2rem 0 0;
	overflow: auto;
	border-bottom: .5rem dashed rgba(56, 102, 122,.3);
}
#Project section:last-of-type{
	border-bottom:none;
}

/*Project END*/

/*Soft*/
#soft{
	position: relative;
	overflow: auto;
}
.Portfolio,.Personal,.Personal a{
	margin: 5rem auto;
	width: 50rem;
	height: 30rem;
	border-radius: 2rem 2rem;
}
.Portfolio{
	background: url(../images/rain.jpg) no-repeat center,linear-gradient(to bottom, rgba(255,255,255,.1),rgba(0,0,0,.8),rgba(0,0,0,.8),rgba(255,255,255,.1));
	background-blend-mode: multiply;
	background-size: 50rem 30rem;
	float: left;
	margin-left: 20%;
}

.Portfolio .text-clip{
	text-align: center;
	margin: 12%;
	background: url(../images/rain.jpg) no-repeat center;	
	background-position: center;
	background-size: 50rem 30rem;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Amaranth', sans-serif;
    font-size: 9rem;
    letter-spacing: 1.2rem;
    text-shadow: inset 0 0 0 rgba(255,255,255,.8);
}

.Personal{
	clear: left;
	float: right;
	background: url(../images/collection.jpg) no-repeat center;
	background-color: rgb(0, 179, 143,.7);
	background-position: center;
	background-size: 50rem 35rem;
	position: relative;
	background-blend-mode: screen;
	margin-right: 20%;
	margin-top: 0;
}
.Personal a{
	font-size: 4rem;
	color: rgb(255,255,255);
	display: block;
	background-color: rgb(0,0,0,.4);
	background-size: 30rem 25rem;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	width: 90%;
	height: 40%;
	margin: 15% 5%;
	font-family: 'Permanent Marker', cursive;
}
/*Soft END*/

/*Form*/
form{
	clear: both;
	margin: 0 auto;
	width: 400px;
	/*to see the outline of the form*/
	padding: 1em;
	border: 1px solid #ccc;
	border-radius: 1em;
}
form div+div{
	margin-top: 1em;
}
label {
  /* To make sure that all labels have the same size and are properly aligned */
  display: inline-block;
  text-align: left;
}

input, textarea {

  /* To give the same size to all text fields */
  width: 60%;
  box-sizing: border-box;


  /* To harmonize the look & feel of text field border */
  border: 1px solid #999;
}

input:focus, textarea:focus {
  /* To give a little highlight on active elements */
  border-color: #000;
}

textarea {
  /* To properly align multiline text fields with their labels */
  vertical-align: top;

  /* To give enough room to type some text */
  height: 10rem;
}

.button {
  /* To position the buttons to the same position of the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: .5em;
}


footer{
	text-align: left;
	background-color: #08142b;
	color: #e3e4e8;
	height: 7rem;	
}
footer p{
	padding: 2rem;
	margin: 0;
}