html{
	font-size: 14px;
	font-family: 'Roboto Mono', monospace;
}
body{
	background-color:#EBE4E4; 
	padding: 0 20px 20px 20px;/*clockwise*/
}
h1{
	font-size: 50px;
	text-align: center;
	border: 5px solid black;
	margin: 200px 100px 0 100px;
	/*text-shadow: 3px 3px 5px black; horiPos, vertiPos, Blur, Color*/
}
img{
	display: block;
	margin: 0 auto;
	border: 5px solid black;
}
p,li{
	line-height: 2;
	margin: 20px 50px 20px 50px;
	/*border: 5px solid black;*/
	letter-spacing: 1;
}